# Copy this file to .env beside docker-compose.yml
# Change these paths if you want.
KEEPERFX_GAME_DATA=C:/Miracle442/keeperfx-data
KEEPERFX_SERVER_DATA=C:/Miracle442/keeperfx-server-data
VNC_PASSWORD=change-this-password
